# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-isolation
coverage
test-results
playwright-report
.tmp

# Environment variables
.env
.env.local
.env.*.local

# IDE & OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Scratch & Temporary
scratch/

